server {
	listen 80;
	listen [::]:80;

	server_name {{ srv_fqdn }};
	root {{ www_root }};

	access_log /var/log/nginx/{{ role_name }}/access.log main;
	error_log /var/log/nginx/{{ role_name }}/error.log;

	# Static serving of well known location for Certbot/LetsEncrypt to
	# avoid hitting temporary self-signed certificates
	location /.well-known/acme-challenge {
		root /usr/share/nginx;
	}
	
	# Redirect everything else to https
	location / {
		return 302 https://$host$request_uri;
	}
}

server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;

	server_name {{ srv_fqdn }};
	root {{ www_root }};

	access_log /var/log/nginx/{{ role_name }}/access.log main;
	error_log /var/log/nginx/{{ role_name }}/error.log;

	ssl_certificate /etc/letsencrypt/live/{{ srv_fqdn }}/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/{{ srv_fqdn }}/privkey.pem;

	ssl_session_cache shared:le_nginx_SSL:10m;
	ssl_session_timeout 1440m;
	ssl_session_tickets off;

	ssl_protocols TLSv1.2 TLSv1.3;
	ssl_prefer_server_ciphers off;

	ssl_ciphers "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384";

	# Virtual host specific configuration
	include /etc/nginx/includes.d/{{ role_name }}/*.conf;
}
